<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <link rel="stylesheet" type="text/css" href="../static/public/css/mainstyle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автострахование</title>
</head>
<body>
<div class="wrapper">
<div class="upperBlock">
    <figure class="fg1">
        <img src="../static/public/images/icon.jpg" alt="mainpage">
    </figure>
</div>
</div>
</body>
</html>